# Nix
result
result-man

# Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Tooling
_typos.toml
.conform.yaml
.direnv
.pre-commit-config.yaml
cliff.toml
